contracts/wsdl/calculadora.wsdl

<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<wsdl:definitions xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" 
                  xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" 
                  xmlns:xsd="http://www.w3.org/2001/XMLSchema"
                  xmlns:tns="http://xml.calculadora.com/Calculadora" 
                  targetNamespace="http://xml.calculadora.com/Calculadora" 
                  xmlns:sumarIn ="http://xml.calculadora.com/sumarRequest"
                  xmlns:sumarOut ="http://xml.calculadora.com/sumarResponse"
                  xmlns:restarIn ="http://xml.calculadora.com/restarRequest"
                  xmlns:restarOut ="http://xml.calculadora.com/restarResponse"
                  xmlns:multiplicarIn ="http://xml.calculadora.com/multiplicarRequest"
                  xmlns:multiplicarOut ="http://xml.calculadora.com/multiplicarResponse"
                  xmlns:dividirIn ="http://xml.calculadora.com/dividirRequest"
                  xmlns:dividirOut ="http://xml.calculadora.com/dividirResponse"
>
    <wsdl:types>
        
        <xsd:schema name="http://xml.calculadora.com/Booking">
            <xsd:import namespace="http://xml.calculadora.com/sumarRequest" schemaLocation="http://localhost/webServicePHP/Contracts/xsd/sumarRequest.xsd" />
            <xsd:import namespace="http://xml.calculadora.com/sumarResponse" schemaLocation="http://localhost/webServicePHP/Contracts/xsd/sumarResponse.xsd" />
            <xsd:import namespace="http://xml.calculadora.com/restarRequest" schemaLocation="http://localhost/webServicePHP/Contracts/xsd/restarRequest.xsd" /> 
            <xsd:import namespace="http://xml.calculadora.com/restarResponse" schemaLocation="http://localhost/webServicePHP/Contracts/xsd/restarResponse.xsd" /> 
            <xsd:import namespace="http://xml.calculadora.com/multiplicarRequest" schemaLocation="http://localhost/webServicePHP/Contracts/xsd/multiplicarRequest.xsd" />
            <xsd:import namespace="http://xml.calculadora.com/multiplicarResponse" schemaLocation="http://localhost/webServicePHP/Contracts/xsd/multiplicarResponse.xsd" /> 
            <xsd:import namespace="http://xml.calculadora.com/dividirRequest" schemaLocation="http://localhost/webServicePHP/Contracts/xsd/dividirRequest.xsd" />            
            <xsd:import namespace="http://xml.calculadora.com/dividirResponse" schemaLocation="http://localhost/webServicePHP/Contracts/xsd/dividirResponse.xsd" />
        </xsd:schema>
        
    </wsdl:types>
        
    
    <wsdl:message name="sumarRequest">
        <wsdl:part name="in" element="sumarIn:sumarRequest" />
    </wsdl:message>
    <wsdl:message name="sumarsResponse">
        <wsdl:part name="out" element="sumarOut:sumarResponse" />
    </wsdl:message>
    
    <wsdl:message name="restarRequest">
        <wsdl:part name="in" element="restarIn:restarRequest"/>
    </wsdl:message>
    <wsdl:message name="restarResponse">
        <wsdl:part name="out" element="restarOut:restarResponse"/>
    </wsdl:message>
    
    <wsdl:message name="multiplicarRequest">
        <wsdl:part name="in" element="multiplicarIn:multiplicarRequest"/>
    </wsdl:message>
    <wsdl:message name="multiplicarResponse">
        <wsdl:part name="out" element="multiplicarOut:multiplicarResponse"/>
    </wsdl:message>
    
    <wsdl:message name="dividirRequest">
        <wsdl:part name="in" element="dividirIn:dividirRequest" />
    </wsdl:message>
    <wsdl:message name="dividirResponse">
        <wsdl:part name="out" element="dividirOut:dividirResponse"/>
    </wsdl:message>
    
    <wsdl:portType name="Calculadora">
        <wsdl:operation name="sumar">
            <wsdl:input message="tns:sumarRequest" />
            <wsdl:output message="tns:sumarsResponse" />
        </wsdl:operation>
        
        <wsdl:operation name="restar">
            <wsdl:input message="tns:restarRequest" />
            <wsdl:output message="tns:restarResponse" />
        </wsdl:operation>
        
        <wsdl:operation name="multiplicar">
            <wsdl:input message="tns:multiplicarRequest" />
            <wsdl:output message="tns:multiplicarResponse" />
        </wsdl:operation>
        
        <wsdl:operation name="dividir">
            <wsdl:input message="tns:dividirRequest" />
            <wsdl:output message="tns:dividirResponse" />
        </wsdl:operation>
    </wsdl:portType>    
    
    <wsdl:binding name="CalculadoraSoap" type="tns:Calculadora">
        <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http" />
        
        <wsdl:operation name="sumar">
            <soap:operation soapAction="http://xml.calculadora.com/sumar"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        
        <wsdl:operation name="restar">
            <soap:operation soapAction="http://xml.calculadora.com/restar"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        
        <wsdl:operation name="multiplicar">
            <soap:operation soapAction="http://xml.calculadora.com/multiplicar"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        
        <wsdl:operation name="dividir">
            <soap:operation soapAction="http://xml.calculadora.com/dividir"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        
    </wsdl:binding>
    
    <wsdl:service name="Calculadora">
        <wsdl:port binding="tns:CalculadoraSoap" name="CalculadoraSoap">
            <soap:address location="http://localhost/webServicePHP/server.php" />
        </wsdl:port>
    </wsdl:service>
</wsdl:definitions>

